<launch>

  <!-- Map server -->
  <arg name="map_file" default="$(find ackermann_robot)/maps/maze.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <include file="$(find ackermann_robot)/launch/includes/amcl.launch.xml">
  </include>

  <include file="$(find ackermann_robot)/launch/includes/move_base.launch.xml"/>
</launch>